<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bupt.sang.happyweather" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".activity.ChooseAreaActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".activity.LoadingActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.bupt.sang.happyweather.activity.WeatherActivity"></activity>
        <service android:name="com.bupt.sang.happyweather.service.AutoUpdateService"></service>
        <receiver android:name="com.bupt.sang.happyweather.receiver.AutoUpdateReceiver"></receiver>
    </application>

</manifest>